@import "src/styles/_variables";

.footer-wrapper {
  // footer style
  height: $outlets-footer-height;
  font-size: 0.75rem;
  text-align: center;

  div {
    margin-bottom: $outlets-footer-margin-bottom;
  }

  .link {
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}
